.project-image {
  max-width: 100%;
}
.project-title {
  font-size: 1.4rem;
  padding-block: 1.2rem;
}
.project-heading {
  padding-bottom: 0.5rem;
}
.project-heading-description {
  color: #272626;
}

.project-description {
  font-size: 1.1rem;
  letter-spacing: 0.025em;
  margin-bottom: 1.875rem;
  line-height: 1.35em;
}
